.catalog {
}
.catalog__inner {
}
.catalog__items {
    box-shadow: 0px 0px 2px rgba(0, 0, 1, 0.3);
}
.catalog__item {
    display: grid !important;
    grid-template-columns: 0.6fr 1.4fr; 
    max-width: 632px;
    
}
.catalog__item--img {
}
.catalog__item--text {
    padding: 33px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalog__item--title {
    @include catalog_title_black;
    margin-bottom: 8px;
}
.catalog__item--description {
    @include catalog_description_black;
    margin-bottom: 24px;
}

.catalog__btn {
    position: relative;
    margin-left: 67px;
}
.btn-catalog__item {
    color: $color-orange;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    &:hover {
        color: lighten($color-orange, 20);
    }
    &:active {
        color: $color-orange;
    }

    
}

.catalog__arrow {
    position: absolute;
    bottom: 0;
    right: 200px;
    & .arrow {
        height: 15px;
    }

}

.btn-catalog__item:hover + .catalog__arrow {
    right: 190px;
}
