

.header {
}

.header__body {
    display: flex;
    align-items: center;
}

.header__heading {
    max-width: 545px;
}

.header__title {
    @include h2_black;
    
    & span {
        @include h2_orange;
    }
}
.header__subtitle {
    @include subtitle_gray;
}

.title {
    @include title_black;
}