// FONTS FAMILY
$font-Regular: 'Circe', sans-serif;
$font-Bold: 'Circe Bold', sans-serif;
$font-Medium: 'Rubik-Medium', sans-serif;



//COLORS
$color-orange: #FF650C;
$color-grey-dark: #747474;
$color-grey-light: #CCCCCC;
$color-black: #000000;
$color-white: #ffffff;

